<!DOCTYPE html>
<html>

<div class="ui grid">
  <div class="five wide column">
    <h1><font color="steelblue">Poopy Planner of San Francisco!</font></h1>
    <p><font color="steelblue">Gotta go?</font>  <font color="gray">Poopy Planner of San Francisco Site</font></p>
  </div>
  <div class="six wide column">
    <div id = "menu" class="ui three item menu">
      <a class="ui blue animated fade button" tabindex="0" href="/map">
        <div class="visible content"><font color="white"></font>Map of Potties</div>
        <div class="hidden content"><font color="white"></font>Gotta go...</div>
      </a>
      <a class= "ui blue animated fade button" tabindex="0"  href="/list">
        <div class="visible content" >List of Potties</div>
        <div class="hidden content">Uh oh...</div>
      </a>
      <a class="ui blue animated fade button" tabindex="0" href="/poo">
        <div class="visible content" ><font color="white"></font>Poo Resources</div>
        <div class="hidden content"><font color="white"></font>Bored?</div>
      </a>
    </div>
  </div>  
</div>

<div class="ui divider"></div>

<div class="ui grid">
  <div class="six wide column"></div>
    
    <p><font color="gray">New to the city? Frantically dancing around San Francisco looking for relief? Well wish no more. We pride ourselves on allowing the "peepee dancers" and "sphincter clentchers" of San Fransisco to find relief fast. </font></p>
    <p><font color= "gray">Click on the Map or List to find a location near you. Enjoy our Resources tab to enjoy your time of relief even more! </font></p>
  <div class="two wide column"></div>
    <img src="img/bathroom.jpg" height= 350px width= 500px>
  <div class="six wide column">
    <a href="https://www.google.com/search?tbm=isch&q=san+francisco+public+bathrooms&sa=X&ved=0ahUKEwj1-9eeg9HjAhVB_J4KHRr4DKwQrNwCCFMoAA&biw=715&bih=559&dpr=2#imgrc=arI4M-n6tJAO6M:" class="ui medium image"> 
    <iframe width="560" height="315" src="https://www.youtube.com/embed/YbYWhdLO43Q?start=6" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>

  </div>

  <script src="/app.js"></script>
  </body>
  </html>