<html>
<h1>{{title}}</h1>
<p> Gotta go?  {{title}} Site</p>

<a class="ui animated fade button" tabindex="0" href="/map">
  <div class="visible content" >Map of Potties</div>
  <div class="hidden content">
    Gotta go...
  </div>
</a>
<a class="ui animated fade button" tabindex="0"  href="/list">
  <div class="visible content" >List of Potties</div>
  <div class="hidden content">
    Uh oh...
  </div>
</a>


<a class="ui animated fade button" tabindex="0" href="/poo">
  <div class="visible content" >Poo Resources</div>
  <div class="hidden content">
    Bored?
  </div>
</a>
<div class="ui center aligned basic segment">
  </div>
  <div class="ui horizontal divider" height= 200px>
    🚻
  </div>
  <a href="https://www.google.com/search?tbm=isch&q=san+francisco+public+bathrooms&sa=X&ved=0ahUKEwj1-9eeg9HjAhVB_J4KHRr4DKwQrNwCCFMoAA&biw=715&bih=559&dpr=2#imgrc=arI4M-n6tJAO6M:" class="ui medium image">
  <img src="img/sanfranbr.jpg" height= 1500px width= 1500px> 
   <div class="ui horizontal divider" >
    🚻
  </div>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/YbYWhdLO43Q?start=6" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
  <script src="/Users/emmawolff/poop-app/app.js"></script>
  </body>
  </html>