<!DOCTYPE html>
<html>

<div class="ui grid">
  <div class="five wide column">
    <h1>{{title}}</h1>
    <p> Gotta go? {{title}} Site</p>
  </div>
  <div class="six wide column">
    <div id = "menu" class="ui three item menu">
      <a class="ui animated fade button" tabindex="0" href="/map">
        <div class="visible content">Map of Potties</div>
        <div class="hidden content">Gotta go...</div>
      </a>
      <a class= "ui animated fade button" tabindex="0"  href="/list">
        <div class="visible content" >List of Potties</div>
        <div class="hidden content">Uh oh...</div>
      </a>
      <a class="ui animated fade button" tabindex="0" href="/poo">
        <div class="visible content" >Poo Resources</div>
        <div class="hidden content">Bored?</div>
      </a>
    </div>
  </div>  
</div>

<<<<<<< HEAD

<a class="ui animated fade button" tabindex="0" href="/poo">
  <div class="visible content" >Poo Resources</div>
  <div class="hidden content">
    Bored?
  </div>
</a>
<div class="ui center aligned basic segment">
  </div>
  <div class="ui horizontal divider" height= 200px>
    🚻
  </div>
  <a href="https://www.google.com/search?tbm=isch&q=san+francisco+public+bathrooms&sa=X&ved=0ahUKEwj1-9eeg9HjAhVB_J4KHRr4DKwQrNwCCFMoAA&biw=715&bih=559&dpr=2#imgrc=arI4M-n6tJAO6M:" class="ui medium image">
  <img src="img/sanfranbr.jpg" height= 1500px width= 1500px> 
   <div class="ui horizontal divider" >
    🚻
  </div>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/YbYWhdLO43Q?start=6" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
=======
<div class="ui divider"></div>

<div class="ui grid">
  <div class="six wide column"></div>
    
    <p>New to the city? Frantically dancing around San Francisco looking for relief? Well wish no more. We pride ourselves on allowing the "peepee dancers" and "sphincter clentchers" of San Fransisco to find relief fast. </p>
    <p>Click on the Map or List to find a location near you. Enjoy our Resources tab to enjoy your time of relief even more! </p>
  <div class="two wide column"></div>
    <img src="img/bathroom.jpg" height= 350px width= 500px>
  <div class="six wide column">
    <a href="https://www.google.com/search?tbm=isch&q=san+francisco+public+bathrooms&sa=X&ved=0ahUKEwj1-9eeg9HjAhVB_J4KHRr4DKwQrNwCCFMoAA&biw=715&bih=559&dpr=2#imgrc=arI4M-n6tJAO6M:" class="ui medium image"> 
    <iframe width="560" height="315" src="https://www.youtube.com/embed/YbYWhdLO43Q?start=6" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
>>>>>>> 75a54d97172717ecd1a024aa355239699a8d84dd
  </div>
  
</div>
<script src="/Users/emmawolff/poop-app/app.js"></script>
</body>
</html>