<h1>{{title}}</h1>
<div class="ui middle aligned selection list">
    <div class="ui horizontal statistic">

        <div class="value">
            {{locations.length}}
        </div>
        <div class="label">
            Places to Poo
        </div>

    </div>

    <div id="filters" class="ui text menu">
        <div class="header item">Sort By</div>
        <a class="active item" href="/list/order/distance" onclick="getLocation()">
            Closest
        </a>
        <a class="item" href="/list/order/comments">
            Most Comments
        </a>
        <a class="item" href="/list/order/popularity">
            Most Popular
        </a>
    </div>

    {{#each locations }}
    <div class="item">
        <img class="ui avatar image" src="/img/placeholder-3.svg">
        <div class="content">
            <div class="header">{{properties.name}}</div>
            Rating: {{properties.rating}}
        </div>
    </div>
    {{/each}}
</div>