<h1>
    <font color="steelblue">{{title}}</font>
</h1>

<body>

    <head>
        <font color="gray">Use our interactive map to find the destination closest to you!</font>
        <div>

            <br>

        </div>

        <div class="ui buttons">
            <a class="ui blue button" href="/">
                <font color="white">Back to home</font>
            </a>
            <a class="ui blue button" href="/list">
                <font color="white">Go to list</font>
            </a>
            <a class="ui blue button" href="/poo">
                <font color="white">About Us</font>
            </a>
        </div>


    </head>
    <div class="ui black horizontal divider">
        🚻
    </div>
    <div>
        <br>
    </div>
    <div class="ui centered grid">
        <div class="ui segment">
            <iframe src="https://www.google.com/maps/d/embed?mid=1H9sbmn4ACWQ4gJ6rqU4yRLg7PNOFbOiw" width="640"
                height="480"></iframe>
        </div>
    </div>
    <link rel='stylesheet' href='/css/style1.css' />
</body>