<h1>{{title}}</h1>
Poo Resources
</head>
<body>
  <text> , some fun suggestions in the area, and about us. 💩 </text>
</body>
<div class="ui horizontal divider" height=1500px width=1500px>
  💩
</div>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karma">
<style>
  body,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Karma", sans-serif
  }

  .w3-bar-block .w3-bar-item {
    padding: 20px
  }
</style>

<body>
  <!-- !PAGE CONTENT! -->
  <div class="w3-main w3-content w3-padding" style="max-width:1200px;margin-top:100px">

    <!-- First Photo Grid-->
    <div class="w3-row-padding w3-padding-16 w3-center">
      <div class="w3-quarter">
        <img src="/img/landsend.png" style="width:90%">
        <h3>Explore Land's End </h3>
        <p>Be sure to checkout this quick hike if you're in the Bay Area.</p>
      </div>
      <div class="w3-quarter">
        <img src="/img/fortune.png" alt="Fortune" style="width:100%">
        <h3>Fortune Cookies</h3>
        <p>Head down to Chinatown to watch fresh fortune cookies being made.</p>
      </div>
      <div class="w3-quarter">
        <img src="/img/sealions.png" alt="Sealions" style="width:100%">
        <h3>Watch Sealions</h3>
        <p>Check out these beautiful creatures near Pier 39.</p>
        <p>*so cute*</p>
      </div>
      <div class="w3-quarter">
        <img src="/img/code.png" alt="Code" style="width:100%">
        <h3>Read Code</h3>
        <p>Nothing spells relaxing like reading thousands of lines of code.</p>
      </div>
    </div>

    <!-- Second Photo Grid-->
    <div class="w3-row-padding w3-padding-16 w3-center">
      <div class="w3-quarter">
        <img src="/img/alcatraz.png" alt="Popsicle" style="width:100%">
        <h3>Visit Alcatraz</h3>
        <p>Ponder our broken criminal justice system while exploring this island.</p>
      </div>
      <div class="w3-quarter">
        <img src="/img/tenderloin.png" alt="homeless" style="width:100%">
        <h3>Avoid the Tenderloin</h3>
        <p> Consider this neighborhood unsafe and unsterile.</p>
      </div>
      <div class="w3-quarter">
        <img src="/img/manilla.png" alt="bowl" style="width:100%">
        <h3>Eat Manilla Bowl</h3>
        <p>Great food.(But maybe like...not every day.)</p>
      </div>
      <div class="w3-quarter">
        <img src="/img/employees.png" alt="workers" style="width:100%">
        <h3>Pretend you work somewhere cool!</h3>
        <p>Really, a lot of places give discounts to big tech companies in the area. Just act like you're important.</p>
      </div>
    </div>

    <!-- Pagination -->
    <hr id="about">
    <div class="ui horizontal divider" height=1500px width=1500px>
      💩
    </div>
    <!-- About Section -->
    <div class="w3-container w3-padding-32 w3-center">
      <h3> 💩About Us, The Coders behind Poopy Planners 💩</h3><br>
      <img src="img/poopygroup.jpeg" alt="US" class="w3-image" style="display:block;margin:auto" width="800"
        height="533">
      <div class="w3-padding-32">
        <h4><b> 💩More about us. 💩</b></h4>
        <h6><i>Diving into our confusion.</i></h6>
        <p> 💩 Hello, and welcome to our page. Our names are Dylan, Nathan, Wilson, and Emma. We came to a six week
          coding
          bootcamp in San Fransisco to improve our coding abilities, teamwork skills, and most importantly, our GRIT. We
          came in at different experience levels and worked together to make this website in just our second week. We
          hope you enjoy our project, half as much as we enjoyed creating it. Thank you! 💩</p>
        <div class="ui horizontal divider" height=1500px width=1500px>
          💩
        </div>
        <hr>

        <!-- Footer -->
        <footer class="w3-row-padding w3-padding-32">
          <div class="w3-third">
            <h3> 💩LINKEDIN PAGES 💩</h3>
            <p>Here are the Poop Planners pages in case you'd like to get to know us better! </p>
            <div>
              💩Emma's <a href="https://www.linkedin.com/in/emma-wolff-03b169151/" target=_blank">Profile </a></p>
              💩Dylan's <a href=" https://www.linkedin.com/in/dylan-edwards-345a09155/" target=_blank">Profile </a></p>
              💩Wilson's <a href="https://www.linkedin.com/in/emma-wolff-03b169151/" target=_blank">Profile </a></p>
              💩Nathan's <a href="https://www.linkedin.com/in/nathan-engstrom-990402163/ target=_blank">Profile</a></p>

            </div>
          </div>
          </p>
          <p>Powered by Ritual and <a href="https://www.summerofcode2019.com/" target="_blank">Summer of Code</a></p>
      </div>

      <div class="w3-third">
        <h3> </h3>
        <ul class="w3-ul w3-hoverable">
          <li class="w3-padding-16">
            <img src="img/EmmaLinkedin.png" class="w3-left w3-margin-right" style="width:50px">
            <span class="w3-large"> 💩Emma Wolff</span><br>
            <span>Rising Junior @ Mount Holyoke College</span>
          </li>
          <li class="w3-padding-16">
            <img src="/img/DylanLinkedin.png" class="w3-left w3-margin-right" style="width:50px">
            <span class="w3-large"> 💩Dylan Edwards</span><br>
            <span>Rising Sophomore @ Occidental College</span>
          </li>
          <li class="w3-padding-16">
            <img src="/img/WilsonLinkedin.png" class="w3-left w3-margin-right" style="width:50px">
            <span class="w3-large"> 💩Wilson Goode</span><br>
            <span>Recent Graduate @ Davidson College </span>
          </li>
          <li class="w3-padding-16">
            <img src="/img/NathanLinkedin.png" class="w3-left w3-margin-right" style="width:50px">
            <span class="w3-large"> 💩Nathan Engstrom</span><br>
            <span>Rising Junior @ Davidson College</span>
          </li>
        </ul>
      </div>

      <div class="w3-third w3-serif">
        <h3>RELATED TAGS</h3>
        <p>
          <span class="w3-tag w3-black w3-margin-bottom">Travel</span> <span
            class="w3-tag w3-dark-grey w3-small w3-margin-bottom">San Fransisco</span> <span
            class="w3-tag w3-dark-grey w3-small w3-margin-bottom">IT</span>
          <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Poop</span> <span
            class="w3-tag w3-dark-grey w3-small w3-margin-bottom">California</span> <span
            class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Ideas</span>
          <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Bathroom</span> <span
            class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Students</span> <span
            class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Inspiration</span>
          <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Travel</span> <span
            class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Coding</span> <span
            class="w3-tag w3-dark-grey w3-small w3-margin-bottom">STEM</span>
          <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Plan</span> <span
            class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Tech Project</span>
        </p>
      </div>
      </footer>

      <!-- End page content -->
    </div>
</body>

</html>